<div class="fixed">
  <mat-toolbar  > 
    <a routerLink="" routerLinkActive="active">back to DashBoard</a>

    <!-- <span></span> -->
    <span class="example-spacer"></span>

    <!-- Memu -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item >
        <i class="fas fa-user"></i> <a routerLink="choosed">Choosed</a>
      </button>
      <button mat-menu-item >
        <i class="fas fa-user"></i> <span>User Profile</span>
      </button>
      <button mat-menu-item (click)="authService.SignOut()">
        <i class="fas fa-sign-out-alt"></i><span>Log out</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>