<button 
  class="prev" 
  (click) = "handlePrev()" 
  [disabled]="pagination.currentPageNmb === 1 || pagination.pagesAmount ===1" >
  prev
</button>
<br>
<input 
  type="text" 
  class="toPage" 
  placeholder="go to page" 
  #inputPage 
  [value]="pagination.currentPageNmb"> 
<button (click) = "handleGoTo()">go to</button>
<br>
<button 
  class="next" 
  (click) = "handleNext()" 
  [disabled]="pagination.currentPageNmb || pagination.totalResult / 10">
  next
</button>
<p *ngIf="responce">There are {{pagination.pagesAmount}} pages</p>
<p *ngIf="responce">You in {{pagination.currentPageNmb}} page</p>