
<div *ngIf="film$ | async as film">

  <div class="details-wrp">
    <!-- <div> -->
      <img mat-card-image src="{{film.Poster}}" alt="{{film.Title}}"
      onError="this.src='../../../assets/film.png'">
    <!-- </div> -->
    <div class="details">
        <h3>"{{ film.Title }}"</h3>
        <p><span>Actors: </span>  {{film.Actors}}</p>
        <p><span>Country: </span> {{film.Country}} </p> 
        <p><span>Year: </span> {{film.Year}} </p> 
        <p><span>Description: </span> {{film.Plot}} </p> 
        <button [id]="film.imdbID" (click)="selectHandler($event)" >select</button>
        <button (click)="gotoAllFilms(film)" >Back</button><br>
        <i *ngIf="(SelectedIDs$| async)?.includes(film.imdbID)" class="fa fa-check-circle" aria-hidden="true">This film selected</i>

      </div>
  </div>
</div>

<app-find-film></app-find-film>

