<h2>ALL FILMS</h2>
<div *ngIf="film$ | async as film">
  <h3>"{{ film.Title }}"</h3>
  <div>
    <label>imdbID: </label>{{ film.imdbID }}</div>
  <div>
    <label>Title: </label>
    <input [(ngModel)]="film.Title" placeholder="Title"/>
  </div>
  <button [id]="film.imdbID" (click)="selectHandler($event)" >select</button>
  <button *ngIf="ids.includes(film.imdbID)">it Here</button>
  <p>
    <button (click)="gotoAllFilms(film)">Back</button>
  </p>
</div>

<div class="suggested">
    loadedFilms
</div>

<app-find-film></app-find-film>