<!-- Navigation -->
<ul>
  <li>
    <a routerLink="choosed">choosed</a>
  </li>
</ul>

<!-- Search Field -->
<h4 class="method-title">Search Film here</h4>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="searchControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

  <a (click) = "handleRequest()" >Request</a>
  <!-- <pre *ngIf="responce" class="code-box" id="autocomplete-postcode-result">{{responce | json}}</pre> -->

<!-- Search list pagination -->
<!-- <app-pagination 
  [pagination]="pagination"
  [handlePrev]="handlePrev"
  [handleGoTo]="handleGoTo"
  [handleNext]="handleNext"
  [responce]="responce">
</app-pagination> -->
<div *ngIf="true">
  <button 
    class="prev" 
    (click) = "handlePrev()" 
    [disabled]="pagination.currentPageNmb === 1 || pagination.pagesAmount ===1" >
    prev
  </button>
  <br>
  <input 
    type="text" 
    class="toPage" 
    placeholder="go to page" 
    #inputPage 
    [value]="pagination.currentPageNmb"> 
  <button (click) = "handleGoTo()">go to</button>
  <br>
  <button 
    class="next" 
    (click) = "handleNext()" 
    [disabled]="pagination.currentPageNmb == pagination.pagesAmount">
    next
  </button>
  <p *ngIf="responce">There are {{pagination.pagesAmount}} pages</p>
  <p *ngIf="responce">You in {{pagination.currentPageNmb}} page</p>
</div>

<!-- <app-show-list
  [filmArray$]="filmArray$"
  [selectHandler]="selectHandler()"

  [ids]="ids">
</app-show-list> -->
<h1>Real Time</h1>
  <div class="card-list">
    <div *ngFor="let film of filmArray$ | async "
      [class.selected]="film.imdbID === selectedId">
      <a [routerLink]="['/dashboard/find-film/film', film.imdbID]">
        <mat-card class="example-card">
          <mat-card-header>
              <mat-card-title>{{film.Title}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{film.Poster}}" alt="Photo of a Shiba Inu">
        </mat-card>
      </a>
      <button [id]="film.imdbID" (click)="selectHandler($event)" >select</button>
      <button *ngIf="ids.includes(film.imdbID)">it Here</button>
    </div>
  </div>
<h1>Real Time end</h1>


<router-outlet></router-outlet>
