<h1>Real Time</h1>
  <div class="card-list">
    <div *ngFor="let film of filmArray$ | async "
      [class.selected]="film.imdbID === selectedId">
      <a [routerLink]="['/dashboard/find-film/film', film.imdbID]">
        <mat-card class="example-card">
          <mat-card-header>
              <mat-card-title>{{film.Title}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{film.Poster}}" alt="Photo of a Shiba Inu">
        </mat-card>
      </a>
      <button [id]="film.imdbID" (click)="selectHandler($event)" >select</button>
      <button *ngIf="ids.includes(film.imdbID)">it Here</button>
    </div>
  </div>
<h1>Real Time end</h1>
