<div class="wrapper">
  <button mat-raised-button color="primary" class="menu-btn">
      <a routerLink="find-film" routerLinkActive="active" >Find film</a>
  </button>
  <button mat-raised-button color="primary" class="menu-btn">
      <a routerLink="find-address" routerLinkActive="active">Find address on map</a>
    </button>
  <button mat-raised-button color="primary" class="menu-btn">
      <a routerLink="find-postcode-address" routerLinkActive="active">Find postcode address on map</a>
  </button>
</div>