<router-outlet></router-outlet>

<mat-sidenav-container
  class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p><button mat-stroked-button color="primary" (click)="close('toggle button')"class="tougle-btn">Close</button></p>
    <hr>
    <app-dashbouard-nav></app-dashbouard-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-raised-button color="primary" (click)="sidenav.open()" class="fixed-btn">Menu</button>
    <app-back-bar></app-back-bar>




<!-- Content -->

    <div class="container-fluid">
      <div class="row">
        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="inner-adjust">
            <div class="pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">User Profile</h1>
            </div>
            <!-- Show user data when logged in -->
            <div class="row" *ngIf="authService.userData as user">
              <div class="col-md-12">
                <div class="media">
                  <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                    alt="{{user.displayName}}">
                  <div class="media-body">
                    <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                    <p>Email: <strong>{{user.email}}</strong></p>
                    <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                  </div>
                </div>
              </div>
            </div>
    
          </div>
        </main>
    
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
